<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="RavenDB" connectionString="DataDir = ~\Database" />-->
    <add name="RavenDB" connectionString="Url=http://localhost:8080;Database=ImdbDump" />
  </connectionStrings>
  <appSettings>
    <!--<add key="Raven/MemoryCacheLimitPercentage" value="50" />
		<add key="Raven/MemoryCacheLimitCheckInterval" value="00:00:15" />
		<add key="Raven/MemoryCacheExpiration" value="60" />
		<add key="Raven/RunInMemory" value="false"/>-->
    <add key="Raven/Esent/MaxVerPages" value="256" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Lucene.Net" publicKeyToken="85089178b9ac3181" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.4.1" newVersion="2.9.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>